
.mat-dialog-title {
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  
  .mat-dialog-content {
    padding: 16px;
  }
  
 
  .mat-dialog-content p {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  
  .mat-form-field {
    width: 100%;
  }
  
  
  .mat-form-field label {
    font-size: 16px;
    color: #666;
  }
  
  
  .mat-form-field input {
    font-size: 16px;
  }
  
 
  .mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 24px;
  }
  
 
  button[mat-button][type="button"]:first-child {
    background-color: #ccc;
    color: #333;
    margin-right: 8px;
  }
  
  
  button[mat-button][type="button"]:last-child {
    background-color: #007bff;
    color: #fff;
  }
  