<div class="home-container">
    <div class="home-features">
        <h3><b>ToDoList</b></h3> <p> It is your ultimate task management solution.</p>
        <p>Whether it's work-related projects or personal tasks, we've got you covered.</p>
        <p class="features" ><b>Key Features:</b></p>
        <ul>
          <li><mat-icon class="icon">task</mat-icon> Effortlessly create and manage tasks</li>
          <li><mat-icon class="icon">calendar_today</mat-icon> Set due dates and priorities for your tasks</li>
          <li><mat-icon class="icon">label</mat-icon> Stay organized with project and category labels</li>
        </ul>
      </div>
<div class="home-button">
      <button mat-raised-button class="custom-primary-button" routerLink="/signUp">Get Started</button>
    </div>
  </div>
 